---
import Layout from '../../layouts/Layout.astro';
import '../../style/all.css';
import Navigation from '../../components/Navigation.astro';
import Skeleton from '../../components/Skeleton.astro';
import PicCard from '../../components/PicCard.astro';
import data from '../../json/pic/index.json';
import Footer from '../../components/Footer.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		  <Navigation></Navigation>
		<div id="response" class="relative z-20 mx-auto max-w-3xl pt-10 xl:max-w-none">
			<div class="grid gap-2">
			{data
				? data.map((cardData, index) => (
					<PicCard key={index} cardData={cardData} />
				  ))
				: <Skeleton show={data ? false : true} />}
			</div>
		</div>
		<Footer></Footer>
	  </main>	  
</Layout>
