---
import Layout from '../layouts/Layout.astro';
import '../style/all.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="游戏打蛋机">
  <Navigation></Navigation>
<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center">
          <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 dark:text-primary-500">404</h1>
          <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white">有什么地方不对劲</p>
          <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">好吧，似乎出了一点点小问题，让我们从头再来！</p>
      </div>   
  </div>
</section>
<div class="mt-10">
    <video controls autoplay loop preload="auto" title="你被骗了" class="mx-auto w-full max-w-4xl rounded-lg shadow-lg">
      <source src="https://file.dragonjay.top/api/raw/?path=/video/nibeipianla.mp4" type="video/mp4" />
    </video>
  </div>
  <Footer></Footer>	  
</main>
</Layout>