---
import Layout from '../../layouts/Layout.astro';
import '../../style/all.css';
import Navigation from '../../components/Navigation.astro';
import Skeleton from '../../components/Skeleton.astro';
import PicCard from '../../components/PicCard.astro';

const fetchCardData = async () => {
  const response = await fetch('https://raw.githubusercontent.com/dragonjay-lyj/json/main/pic/index.json');
  const data = await response.json();
  return data;
}

let cardData = null;
let loading = true;

(async () => {
  cardData = await fetchCardData();
  loading = false;
})();
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="fixed inset-0 left-[max(0px,calc(50%-45rem))] right-auto top-[3.8125rem] z-20 hidden w-[19rem] overflow-y-auto pb-10 pl-8 pr-6 lg:block">
		  <Navigation></Navigation>
		</div>
		<div id="response" class="relative z-20 mx-auto max-w-3xl pt-10 lg:pl-[19.5rem] xl:max-w-none">
			<PicCard />
	  </main>	  
</Layout>
