/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

.twitter-tweet {
  background: floralwhite;
  font-family: sans-serif;
  border: 0;
}

.twitter-tweet a {
  color: purple;
  font-weight: bold;
}

.wl-editor,
.wl-input {
  max-width: 98%;
}

.wl-editor {
  width: calc(98% - 1em);
}