---
const { adata } = Astro.props;
---
<div class="author-info relative m-0 box-border flex rounded-xl border border-solid border-[#7a757f] bg-transparent p-4 align-middle text-[#1c1b1e] shadow-none transition-[0.3s] delay-[padding] duration-[transform,0.3s] ease-[border-radius,0.3s]">
  <img class="author-avatar h-16 w-16 rounded-full" src={adata.avatar} />
  <div class="author-details">
    <div class="author-name text-xl">{adata.name}</div>
    <div class="author-socials relative mt-2 flex h-[20px] w-[20px] select-none space-x-2 self-center text-gray-500 dark:text-white lg:h-[24px] lg:w-[24px]">
      {adata.socials.map(social => <a class="social-link" href={social.url}><i class={social.icon} /></i></a>)}
    </div>
  </div>
</div>
