---
const { adata } = Astro.props;
---
<div class="author-info relative m-0 box-border flex rounded-xl border border-solid border-[#7a757f] bg-transparent p-4 align-middle text-[#1c1b1e] shadow-none transition-[0.3s] delay-[padding] duration-[transform,0.3s] ease-[border-radius,0.3s]">
  <img class="author-avatar h-16 w-16 rounded-full" src={adata.avatar} />
  <div class="author-details">
    <div class="author-name text-xl">{adata.name}</div>
    <div class="author-socials mt-2 flex space-x-2">
      {adata.socials.map(social => <a class="social-link" href={social.url}><img class="h-6 w-6" src={social.icon} /></a>)}
    </div>
  </div>
</div>
