<footer id="footer" class="relative bg-white bg-cover bg-scroll bg-bottom dark:bg-gray-800">
  <div id="footer-wrap" class="relative px-5 py-10 text-center text-gray-800 dark:text-white">
    <div id="footer_deal" class="flex items-center justify-center">
      <a class="mx-6 my-4 flex h-8 w-8 cursor-pointer items-center justify-center rounded-full bg-gray-800 text-white transition duration-300 hover:bg-gray-700" href="mailto:lyjcody@foxmail.com" title="email" draggable="false">
        <i class="fa-duotone fa-envelope h-4"></i>
      </a>
      <img class="mx-4 my-0 h-12 w-12 cursor-pointer rounded-full border-none transition duration-500 ease-in-out" title="返回顶部" alt="返回顶部" onclick="window.scrollTo(0, 0)" src="https://q1.qlogo.cn/g?b=qq&amp;nk=410714630&amp;src_uin=www.jlwz.cn&amp;s=0" />
      <a class="mx-6 my-4 flex h-8 w-8 cursor-pointer items-center justify-center rounded-full bg-gray-800 text-white transition duration-300 hover:bg-gray-700" target="_blank" rel="noopener" href="https://v.douyin.com/Ug8papo/" title="抖音" draggable="false">
        <i class="fa-brands fa-tiktok h-4"></i>
      </a>
    </div>
    <div id="anzhiyu-footer" class="mx-auto my-4 flex w-full max-w-4xl flex-wrap justify-between px-8">
      <div class="min-w-30">
        <div class="my-4 text-left text-base font-semibold text-gray-500">服务</div>
        <div class="flex flex-col space-y-2">
          <a class="text-gray-800 transition duration-200 hover:text-gray-600 dark:text-gray-200 dark:hover:text-gray-400" title="51la统计" target="_blank" rel="noopener" href="https://v6.51.la/" draggable="false">51la统计</a>
          <a class="text-gray-800 transition duration-200 hover:text-gray-600 dark:text-gray-200 dark:hover:text-gray-400" title="十年之约" target="_blank" rel="noopener" href="https://www.foreverblog.cn/" draggable="false">十年之约</a>
          <a class="text-gray-800 transition duration-200 hover:text-gray-600 dark:text-gray-200 dark:hover:text-gray-400" title="开往" target="_blank" rel="noopener" href="https://github.com/travellings-link/travellings" draggable="false">开往</a>
        </div>
      </div>
    </div>
    <div class="copyright text-gray-500 dark:text-gray-400">©2022 - 2023 By Dragonjay</div>
  </div>
</footer>
