---
const { gdimages } = Astro.props;
---
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    {gdimages.map(images => (
    <a data-fancybox="gallery" href={images} class="flex items-center justify-center rounded bg-gray-200 p-4 shadow-md transition-all duration-200 hover:bg-gray-300">
      <img class="h-auto w-full rounded object-cover" src={images} />
    </a>
    ))}
  </div>
  <div class="swiper-button-next rounded-l-full bg-gray-700 p-2 text-white transition-all duration-200 hover:bg-gray-800"></div>
  <div class="swiper-button-prev rounded-r-full bg-gray-700 p-2 text-white transition-all duration-200 hover:bg-gray-800"></div>
</div>
<script>
  import Swiper from 'swiper';
import { Navigation, Pagination } from 'swiper/modules';
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';
const swiper = new Swiper('.swiper', {
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
<script>
import { Fancybox } from '@fancyapps/ui/dist/fancybox/fancybox.esm.js';
import '@fancyapps/ui/dist/fancybox/fancybox.css';
Fancybox.bind('[data-fancybox="gallery"]', {
  dragToClose: false,

  Toolbar: {
    display: {
      left: ['close'],
      middle: [],
      right: [],
    },
  },

  Images: {
    zoom: false,
  },

  Thumbs: {
    type: 'classic',
  },

  Carousel: {
    transition: false,
    friction: 0,
  },

  on: {
    'Carousel.ready Carousel.change': (fancybox) => {
      fancybox.container.style.setProperty(
        '--bg-image',
        `url("${fancybox.getSlide().thumbSrc}")`
      );
    },
  },
});
</script>