<div class="sm:hidden md:hidden lg:hidden xl:hidden">
  <button class="mdui-fab mdui-fab-fixed mdui-color-theme-accent mdui-ripple" mdui-drawer="{target: '#main-drawer', swipe: true}">
    <i class="mdui-icon material-icons">menu</i>
  </button>
</div>
<div class="mdui-drawer dark:bg-gray-900" id="main-drawer">
  <div class="mdui-list" mdui-collapse="{accordion: true}" style="margin-bottom: 76px;">
    <div class="mdui-collapse-item mdui-collapse-item-open">
      <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
        <i class="fa-duotone fa-house-user mdui-list-item-icon mdui-icon material-icons dark:text-white"></i>
        <a href="/" class="mdui-list-item-content dark:text-white">主页</a>
      </div>
    </div>
    <div class="mdui-collapse-item">
      <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
        <i class="fa-duotone fa-image mdui-list-item-icon mdui-icon material-icons dark:text-white"></i>
        <a href="/pic"class="mdui-list-item-content dark:text-white">图图</a>
      </div>
    </div>
    <div class="mdui-collapse-item">
      <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
        <i class="fa-duotone fa-gamepad-modern mdui-list-item-icon mdui-icon material-icons dark:text-white"></i>
        <a href="/game" class="mdui-list-item-content dark:text-white">游戏</a>
      </div>
    </div>
    <theme-button value="" id="theme-toggle" size="3"></theme-button>
    <img class="ease-[ease] dark:hidden w-full max-w-[130px] rounded-none border-none transition-all delay-[0s] duration-[0.2s]" src="https://i.postimg.cc/9fYHPkbs/20200401155852-tsvto-removebg-preview.png" />
    <img class="hidden w-full max-w-[130px] rounded-none border-none transition-all delay-[0s] duration-[0.2s] ease-[ease] dark:block" src="https://i.postimg.cc/Wpn6RwYj/20200415102740-aeamj-removebg.png" />
  </div>
</div>
<script src="../js/script.js"></script>