---
import Layout from '../../layouts/Layout.astro';
import '../../style/all.css';
import Navigation from '../../components/Navigation.astro';
import data from '../../../src/json/game/afterclass/index.json';
import GameDetailCard from '../../../src/components/GameDetailCard.astro';
import GameCarousel from '../../../src/components/GameCarousel.astro';
import AuthorInfo from '../../../src/components/AuthorInfo.astro';
import Footer from '../../components/Footer.astro';
import Waline from '../../../src/components/Waline.astro';

---

<Layout title="游戏打蛋机">
	<main>
		  <Navigation></Navigation>
		<div id="response" class="relative z-20 mx-auto max-w-3xl pt-10 xl:max-w-none">
			<div class="grid gap-2">
<div class="game-detail-container relative">

  <div class="game-detail-content flex md:flex-row flex-col-reverse">
    <div class="game-card-container flex-none w-1/4 md:block hidden">
      <GameDetailCard gddata={data.gddata} />
    </div>

    <div class="flex w-full flex-1 flex-col gap-10 lg:gap-14">
      <div class="dark:text-white relative flex w-full items-center overflow-hidden rounded-[5px] bg-[#90cdf429] py-3">
        <span class="h-6 w-5 text-[#90cdf4]"
          ><svg viewBox="0 0 24 24" focusable="false" class="inline-block h-full w-full shrink-0 align-middle leading-[1em] text-current"><path fill="currentColor" d="M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Zm.25,5a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,12.25,5ZM14.5,18.5h-4a1,1,0,0,1,0-2h.75a.25.25,0,0,0,.25-.25v-4.5a.25.25,0,0,0-.25-.25H10.5a1,1,0,0,1,0-2h1a2,2,0,0,1,2,2v4.75a.25.25,0,0,0,.25.25h.75a1,1,0,1,1,0,2Z"></path></svg></span
        >当前页面翻译自英语，由<img class="h-[24px]" src="https://chatglm.cn/img/home-logo.ed2a28d4.svg" />提供
      </div>      
      <div class="nightwind-prevent-block w-full">
        <GameCarousel gdimages={data.gdimages} />
      </div>
      <div class="w-full rounded-[5px] border-l-[5px] border-gray-300 bg-gray-100 px-3 py-2 text-gray-500 dark:border-gray-200 sm:border-l-[8px] sm:px-4 sm:py-3"><p class="text-base leading-6">{data.description}</p></div>
      <AuthorInfo adata={data.adata} />
      <div class="flex flex-col gap-4 w-full overflow-hidden" >
        <article class="block rounded-xl bg-[#fffbff] p-4 text-[#1c1b1e] shadow-[0_0.125rem_0.125rem_0_rgb(0_0_0_/_0.32)] transition-[0.3s] delay-[padding] duration-[transform,0.3s] ease-[border-radius,0.3s]">
          <h3 class="mx-0 my-[0.5em] block text-[1.17em]">故事梗概：</h3>
          <p class="block text-justify leading-[1.4]">尔将扮演一位笨拙的哈士奇/阿拉斯加雪橇犬/狼混血兽人，自高中时便渴望着一场变革。历经无数的辩论和争执，尔终于成功说服父母让尔离家独立。</p>
        
          <p class="block text-justify leading-[1.4]">最终，尔从那座几乎是监狱的房子中解脱出来，开始迁往新居，那是父母为尔租下的。</p>
        
          <p class="block text-justify leading-[1.4]">虽然他们允许尔离家，却有一条规矩尔必须遵守：“迁往海威尔，并就读于海威尔大学。”尔欣然同意。</p>
        
          <p class="block text-justify leading-[1.4]">海威尔大学的第一天，尔在这座城市中无人相识。尔结识了一群新的人！其中一些人很奇怪，一些人很友善，一些人有着不幸的过去。但有一件事是确定的：他们对尔友好得仿佛你曾经相识的朋友...？</p>
        
          <p class="block text-justify leading-[1.4]">随着你对他们的了解更深，你的头脑开始经常疼痛，被遗忘的记忆浮现，而神秘的梦境在你的睡梦中不断出现。它们几乎像是某种非常重要的一部分...它是什么，为什么你对此一无所知？</p>
        
          <p class="block text-justify leading-[1.4]">是你的父母派你来这里，希望你能记起一切吗？这只是巧合吗？还是有其他因素在起作用？</p>
        
          <p class="block text-justify leading-[1.4]">你为何不前往海威尔亲自寻找答案呢？</p>
        
          <h3 class="mx-0 my-[0.5em] block text-[1.17em]">地点：</h3>
          <p class="block text-justify leading-[1.4]">一切发生在海威尔的郊区，那里你将发现失落的记忆，同时也创造新的回忆。</p>
        
          <p class="block text-justify leading-[1.4]">然而，你并不仅限于那个地区。在海威尔内外，还有更多等待你去探索的地方。从城市的风景到山脉的边缘，我们应有尽有。相当酷，你觉得呢？</p>
        
          <h3 class="mx-0 my-[0.5em] block text-[1.17em]">人物角色：</h3>
          <p class="block text-justify leading-[1.4]">故事中的人物角色是何等重要？让我们来认识课后活动 / After Class中可爱的角色们吧，海威尔城中各色人等皆有。</p>
        
          <p class="block text-justify leading-[1.4]">尽管我承认，其中大多是健壮的壮汉们，可算是各色人物了。</p>
        </article>        
      </div>
    </div>
  </div>
</div>
</div>
</div>
<Waline></Waline>
<Footer></Footer>
</main>	  
</Layout>