---
import Layout from '../../layouts/Layout.astro';
import '../../style/all.css';
import Navigation from '../../components/Navigation.astro';
import data from '../../../src/json/game/afterclass/index.json';
import GameDetailCard from '../../../src/components/GameDetailCard.astro';
import GameCarousel from '../../../src/components/GameCarousel.astro';
import AuthorInfo from '../../../src/components/AuthorInfo.astro';
import Footer from '../../components/Footer.astro';
import Waline from '../../../src/components/Waline.astro';

---

<Layout title="游戏打蛋机">
	<main>
		  <Navigation></Navigation>
		<div id="response" class="relative z-20 mx-auto max-w-3xl pt-10 xl:max-w-none">
			<div class="grid gap-2">
<div class="game-detail-container relative">

  <div class="game-detail-content flex md:flex-row flex-col-reverse">
    <div class="game-card-container flex-none w-1/4 md:block hidden">
      <GameDetailCard gddata={data.gddata} />
    </div>

    <div class="flex w-full flex-1 flex-col gap-10 lg:gap-14">
      <div class="dark:text-white relative flex w-full items-center overflow-hidden rounded-[5px] bg-[#90cdf429] py-3">
        <span class="h-6 w-5 text-[#90cdf4]"
          ><svg viewBox="0 0 24 24" focusable="false" class="inline-block h-full w-full shrink-0 align-middle leading-[1em] text-current"><path fill="currentColor" d="M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Zm.25,5a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,12.25,5ZM14.5,18.5h-4a1,1,0,0,1,0-2h.75a.25.25,0,0,0,.25-.25v-4.5a.25.25,0,0,0-.25-.25H10.5a1,1,0,0,1,0-2h1a2,2,0,0,1,2,2v4.75a.25.25,0,0,0,.25.25h.75a1,1,0,1,1,0,2Z"></path></svg></span
        >当前页面翻译自英语，由<img class="h-[24px]" src="https://chatglm.cn/img/home-logo.ed2a28d4.svg" />提供
      </div>      
      <div class="nightwind-prevent-block w-full">
        <GameCarousel gdimages={data.gdimages} />
      </div>
      <div class="w-full rounded-[5px] border-l-[5px] border-gray-300 bg-gray-100 px-3 py-2 text-gray-500 dark:border-gray-200 sm:border-l-[8px] sm:px-4 sm:py-3"><p class="text-base leading-6">{data.description}</p></div>
      <AuthorInfo adata={data.adata} />
      <div class="flex flex-col gap-4 w-full overflow-hidden" >
        <article class="block rounded-xl bg-[#fffbff] p-4 text-[#1c1b1e] shadow-[0_0.125rem_0.125rem_0_rgb(0_0_0_/_0.32)] transition-[0.3s] delay-[padding] duration-[transform,0.3s] ease-[border-radius,0.3s]">
          <h3 class="mx-0 my-[0.5em] block text-[1.17em]">故事：</h3>
          <p class="block text-justify leading-[1.4]">你扮演一拙笨的雪橇狗人与狼混血的兽人，自高中时代起便渴望改变。经历无数辩论与劝说，你终使父母答应你离家。</p>
        
          <p class="block text-justify leading-[1.4]">终于摆脱那名为家实为囚之屋，你搬入父母为你租下的新家。</p>
        
          <p class="block text-justify leading-[1.4]">虽允许你离家，父母却有一条规则需你遵守：“搬至高威尔，入读高威尔大学。”你欣然同意。</p>
        
          <p class="block text-justify leading-[1.4]">今日乃高威尔大学的开学第一天，你在此城无一人相识。你结识了许多新朋友！其中一些奇异，一些友善，一些过去充满困扰。然而毫无疑问：他们与你过于亲近，仿佛你是他们曾相识的旧友...？</p>
        
          <p class="block text-justify leading-[1.4]">随着对彼此了解的加深，你头痛的频率愈发频繁，遗忘的记忆浮现，隐晦的梦常入你梦。它们几乎似是某重要之事的一部分... 何为吾辈忘却之物，为何吾辈无法记住关于它的任何事？</p>
        
          <p class="block text-justify leading-[1.4]">父母是否明知吾辈将恢复记忆而送吾至此？这只是纯粹的巧合吗？抑或另有他因？</p>
        
          <p class="block text-justify leading-[1.4]">你何不亲自来高威尔，探个究竟？</p>
        
          <h3 class="mx-0 my-[0.5em] block text-[1.17em]">之地：</h3>
          <p class="block text-justify leading-[1.4]">吾辈人皆处高威尔之郊区，在此地，你寻回遗忘的记忆，亦将铸就新的篇章。</p>
        
          <p class="block text-justify leading-[1.4]">然，你的眼界不应局限于此。高威尔内外，尚有许多待你发掘之处。无论城市景观，抑或山峦之侧，皆有吾辈等足迹。岂不妙哉？</p>
        
          <h3 class="mx-0 my-[0.5em] block text-[1.17em]">人物角色：</h3>
          <p class="block text-justify leading-[1.4]">若是无人物，又何来故事？来，与课后活动 / After Class中的精彩人物相识，我们在海威尔有各种各样的人。</p>
        
          <p class="block text-justify leading-[1.4]">我说的是各种各样的人，不过我得承认，确实有许多健壮的男子。</p>
        </article>        
      </div>
    </div>
  </div>
</div>
</div>
</div>
<Waline></Waline>
<Footer></Footer>
</main>	  
</Layout>