---
import Layout from '../../layouts/Layout.astro';
import '../../style/all.css';
import Navigation from '../../components/Navigation.astro';
import data from '../../../src/json/game/afterclass/index.json';
import GameDetailCard from '../../../src/components/GameDetailCard.astro';
import GameCarousel from '../../../src/components/GameCarousel.astro';
import AuthorInfo from '../../../src/components/AuthorInfo.astro';
import Footer from '../../components/Footer.astro';
import Waline from '../../../src/components/Waline.astro';

---

<Layout title="游戏打蛋机">
	<main>
		  <Navigation></Navigation>
		<div id="response" class="relative z-20 mx-auto max-w-3xl pt-10 xl:max-w-none">
			<div class="grid gap-2">
<div class="game-detail-container relative">

  <div class="game-detail-content flex md:flex-row flex-col-reverse">
    <div class="game-card-container flex-none w-1/4 md:block hidden">
      <GameDetailCard gddata={data.gddata} />
    </div>

    <div class="flex w-full flex-1 flex-col gap-10 lg:gap-14">
      <div class="dark:text-white relative flex w-full items-center overflow-hidden rounded-[5px] bg-[#90cdf429] py-3">
        <span class="h-6 w-5 text-[#90cdf4]"
          ><svg viewBox="0 0 24 24" focusable="false" class="inline-block h-full w-full shrink-0 align-middle leading-[1em] text-current"><path fill="currentColor" d="M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Zm.25,5a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,12.25,5ZM14.5,18.5h-4a1,1,0,0,1,0-2h.75a.25.25,0,0,0,.25-.25v-4.5a.25.25,0,0,0-.25-.25H10.5a1,1,0,0,1,0-2h1a2,2,0,0,1,2,2v4.75a.25.25,0,0,0,.25.25h.75a1,1,0,1,1,0,2Z"></path></svg></span
        >当前页面翻译自英语，由<img class="h-[24px]" src="https://chatglm.cn/img/home-logo.ed2a28d4.svg" />提供
      </div>      
      <div class="nightwind-prevent-block w-full">
        <GameCarousel gdimages={data.gdimages} />
      </div>
      <div class="w-full rounded-[5px] border-l-[5px] border-gray-300 bg-gray-100 px-3 py-2 text-gray-500 dark:border-gray-200 sm:border-l-[8px] sm:px-4 sm:py-3"><p class="text-base leading-6">{data.description}</p></div>
      <AuthorInfo adata={data.adata} />
      <div class="flex flex-col gap-4 w-full overflow-hidden" >

      </div>
    </div>
  </div>
</div>
</div>
</div>
<Waline></Waline>
<Footer></Footer>
</main>	  
</Layout>